---
---

.page-header {
    color: #ff00ff;
    text-align: center;
    text-shadow: -1px 1px white, 1px 1px white, 1px -1px white, -1px -1px white;
    background-color: #ffd42a;
    
    background-image: url('../../media/images/otsikkokuva.png');
    background-repeat: no-repeat;
    background-position: center 10px;
    padding-top: 25%;
    padding-bottom: 20px;
    background-size: 50%;
}


body {
    background-image: url('../../media/images/robotti.png');
    background-repeat: no-repeat;
    background-position: right bottom;
}

.site-footer {
    padding-bottom: 250px;
}

.project-tagline {
    opacity: 1.0;
    font-size: 1.5rem;
}

.social-media {
    display: block;
    padding: 2rem 5rem;
}
.fb {
    float: right;
    font-size: 20pt;
}
.fb img{
    width: 50px;
    height: 50px;
    vertical-align: middle;
}
.fb a{
    text-decoration: none;
}

.hacklabfi_img{
    width: 100%;
    max-width: 500px;
}


@media screen and (max-width: 42em) { .main-content { background-color: #ffffffDD;} }

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6{
    color: #ff00ff;
}

@import "{{ site.theme }}";
