<!DOCTYPE html>
<html lang="{{ site.lang | default: "fi-FI" }}">
  <head>
    <!-- {{page.url}} -->
    
    <meta charset="UTF-8">
    {% if page.url == "/" %}
      <title>{{ site.title }} {{ site.this_year }}</title>
      <meta name="description" content="{{ site.description }} {{ site.date_and_time }}"/>
    {% else %}
      <title>{{ page.title }}</title>
      <meta name="description" content="{{ page.description }}"/>
    {% endif %}
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    
    <meta name="google-site-verification" content="ed1qMBtWXz7Kk8FyxI3P_QBpT1nO-TcfRk_S836YTF4" />
    
     <!-- Twitter Card data -->
    {% if page.url == "/" %}
      <meta name="twitter:card" content="summary">
      <meta name="twitter:title" content="{{ site.title }}">
      <meta name="twitter:description" content="{{ site.date_and_time }} | {{ site.social_media_description }}">
    {% else %}
      <meta name="twitter:card" content="summary">
      <meta name="twitter:title" content="{{ page.title | default: site.title }}">
      <meta name="twitter:description" content="{{ site.social_media_description }}">
    {% endif %}
    <meta name="twitter:site" content="{{ site.twitter_account }}">
    <meta name="twitter:creator" content="{{ site.twitter_account }}">
    {% if site.twitter_image %}
    <!-- Twitter Summary card images must be at least 120x120px -->
    <meta name="twitter:image" content="{{ site.twitter_image | prepend: site.baseurl | prepend: site.url }}">
    {% endif %}
    
    <!-- Open Graph data -->
    <meta property="og:type" content="website" />
    {% if page.url == "/" %}
      <meta property="og:title" content="{{ site.title }}" />
      <meta property="og:url" content="{{ site.baseurl | prepend: site.url }}" />
      <meta property="og:description" content="{{ site.date_and_time }} | {{ site.social_media_description }}" />
    {% else %}
      <meta property="og:title" content="{{ page.title }}" />
      <meta property="og:url" content="{{ page.url | prepend: site.baseurl | prepend: site.url }}" />
      <meta property="og:description" content="{{ site.social_media_description }}" />
    {% endif %}

    {% if site.og_image %}
    <meta property="og:image" content="{{ site.og_image | prepend: site.baseurl | prepend: site.url }}" />
    <meta property="og:image:width" content="{{ site.og_image_width }}" />
    <meta property="og:image:height" content="{{ site.og_image_height }}" />
    <meta property="og:image:type" content="{{ site.og_image_type}}" />
    {% endif %}
    <meta property="og:site_name" content="{{ page.title | default: site.title }}" />
    
    <!-- JSON-LD Rich Cards -->
    {% if page.url == "/" %}
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Event",
      "name": "{{ page.title | default: site.title }}",
      "startDate": "{{ site.start_ISO8601 }}",
      {% if site.og_image %} "image": "{{ site.og_image | prepend: site.baseurl | prepend: site.url }}",{% endif %}
      "description": "{{ site.social_media_description }}",
      "endDate": "{{ site.end_ISO8601 }}",
      "location": {
        "@type": "Place",
        "name": "Strömbergin puiston putoukset",
        "address": "Strömbergin puisto, Pitäjänmäki",
        "geo": {
            "@type": "GeoCoordinates",
            "latitude": 60.22009,
            "longitude": 24.86539
        }
      }
    }
    </script>
    {% endif %}
    
    
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">{{ site.date_and_time }}</h1>
      <h2 class="project-tagline">{{ site.description }}</h2>
    </section>

    <section class="main-content">
      {% if site.fb_event_number %}
      <span class="fb"><a href="https://www.facebook.com/events/{{ site.fb_event_number }}/">{{ site.this_year }} tapahtuma Facebookissa <img src="{{ '/media/images/fb.png' | relative_url }}" alt="Facebook"/></a></span>
      {% endif %}
      
      {% if page.url == "/" %}
        {% if site.possible_rain  %}
        <h1>Sade ei haittaa!</h1>
        <p>Robotit tuovat teltan mukanaan puistoon, joten ei haittaa vaikka sää olisi huono. Sateenvarjo mukaan!</p>
        <img src="/media/images/robotti_sade.png?raw=true" alt="" title="Sadesää">
        <br/>
        {% endif %}
        {% if site.see_you_in_next_event %}
        <h1>Tavataan taas ensi vuonna</h1>
        <p>Robotit saapuvat puistoon ensi taas vuonna uudestaan. Nähdään silloin!</p>
        <img src="/media/images/ensi_vuonna.png?raw=true" alt="" title="Ensi vuonna uudestaan">
        <br/>
        {% endif %}
      {% endif %}
      
      {{ content }}
      
      <footer class="site-footer">
        <p>Tapahtuman järjestää</p>
        <span class="hacklabfi"><a href="http://hacklab.fi/"><img class="hacklabfi_img" src="{{ '/media/images/hacklab_fi_logo.png' | relative_url }}" alt="hacklab.fi"/></a></span>
        {% if site.taike %}
        <p>Tapahtuman järjestämiseen on saatu tukea Taiteen edistämiskeskukselta</p>
        <span class="hacklabfi"><a href="http://taike.fi/"><img class="hacklabfi_img" src="{{ '/media/images/Taike_logo_200.png' | relative_url }}" alt="Taike logo"/></a></span>
        {% endif %}
        <!--<span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>-->
      </footer>
    </section>

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
